@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.lain {
  height: 54.5px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  border-bottom: 1px #1e1e1e solid;
  justify-content: space-between;
  align-items: center;
}

.ahh {
  display: flex;
  align-items: center;

  form {
    margin: 0;
  }

  .date {
    position: absolute;
    left: 20px;
    top: 90px;
  }

  a {
    text-decoration: none;
    color: #04128e !important;
    padding-right: 7px;
    font-weight: lighter;
    margin: 0;
  }

  .search {
    max-width: 100%;
    width: 400px;
    margin-left: 10px;
    display: flex;
    height: 35px;

    button {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      display: flex;
      align-items: center;
      color: white;
      background-color: #8e0404;
      cursor: pointer;
    }

    button:hover {
      background-color: #ac0b0b;
    }

    input[type="text"] {
      padding-left: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid #8e0404;
      width: 100%;
    }

    input[type="text"]:focus {
      outline: none;
    }
  }
}

.contents {
  h1 {
    font-size: 55px;
    text-decoration: none;
    color: #04128e !important;
    padding-right: 7px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  form {
    .inputs {
      margin-left: -35px;
      .user {
        align-items: center;
        svg {
          color: #8e0404;
        }
        margin-bottom: 10px;
        display: flex;
        input[type="text"] {
          padding-left: 5px;
          padding-right: 5px;
          border: 1px solid #8e0404;
          height: 25px;
          margin-left: 10px;
        }
        input[type="text"]:focus {
          outline: none;
        }
      }
      .pass {
        align-items: center;
        svg {
          color: #8e0404;
        }
        margin-bottom: 10px;
        display: flex;
        input[type="password"] {
          padding-left: 5px;
          padding-right: 5px;
          border: 1px solid #8e0404;
          height: 25px;
          margin-left: 10px;
        }
        input[type="password"]:focus {
          outline: none;
        }
      }
    }
  }

  .ubos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    button[type="submit"] {
      border-radius: 5px;
      height: 35px;
      width: calc(100% + 1px);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: #8e0404;
      cursor: pointer;
    }

    button:hover {
      background-color: #ac0b0b;
    }

    a {
      margin-top: 20px;
    }
  }
}

.righttag {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 175px;
  flex-direction: row;
  justify-content: center;

  .chkbx {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: #8e0404 1px solid;
    border-radius: 5px;
    padding-left: 10px;

    input[type="checkbox"] {
      margin-right: 10px;
      cursor: pointer;
      display: none;
    }

    label {
      color: #8e0404;
      cursor: pointer;
    }
  }
}
