form {
  margin: 0;
}

header {
  height: 50px;
  padding: 10px;
  display: flex;
  border-bottom: 1px #1e1e1e solid;
  justify-content: space-between;
}

.blabla {
  height: 100%;
  display: flex;

  .kilid {
    display: flex;
    width: 250px;

    .tagform {
      margin: 20px;
    }
  }
  .cell_container {
    height: 100%;
    width: 100%;
    overflow: auto;
    ul {
      list-style-type: none;
    }
  }
}
.ahh {
  display: flex;
  align-items: center;

  .date {
    position: absolute;
    left: 20px;
    top: 90px;
  }

  p {
    color: #04128e !important;
    padding-right: 7px;
    font-weight: lighter;
    margin: 0;
  }

  .search {
    max-width: 100%;
    width: 400px;
    margin-left: 10px;
    display: flex;
    height: 35px;

    button {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      display: flex;
      align-items: center;
      color: white;
      background-color: #8e0404;
      cursor: pointer;
    }

    button:hover {
      background-color: #ac0b0b;
    }

    input[type="text"] {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid #8e0404;
      width: 100%;
    }

    input[type="text"]:focus {
      outline: none;
    }
  }
}

.righttag {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 175px;
  flex-direction: row;
  justify-content: center;

  .chkbx {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: #8e0404 1px solid;
    border-radius: 5px;
    padding-left: 10px;

    input[type="checkbox"] {
      margin-right: 10px;
      cursor: pointer;
      display: none;
    }

    label {
      color: #8e0404;
      cursor: pointer;
    }
  }
}
