.main {
  max-width: 100%;
  width: 1400px;
  display: flex;

  .left {
    overflow: auto;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px black;

    .profile {
      text-align: center;
      margin-bottom: 30px;

      h2 {
        margin-bottom: 10px;
      }

      .logout-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 15px;
        text-decoration: none;
        border-radius: 5px;
      }

      .logout-btn:hover {
        background-color: #d8c5c5;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      width: 100%;

      a {
        font-weight: lighter;
        display: flex;
        align-items: center;
        text-align: left;
        padding: 10px 10px;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.1s ease;
      }

      .unq {
        color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .unq:hover {
        background-color: transparent;
        color: #8e0404;
        font-weight: normal;
      }

      a:hover {
        background-color: #e7e7e7;
        font-weight: normal;
      }
    }
  }

  .right {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.lgt {
  font-size: 16px;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px 10px;
  color: black;
  border-radius: 5px;
  transition: all 0.1s ease;
  justify-content: left;
  background-color: white;
}

.lgt:hover {
  cursor: pointer;
  background-color: #e7e7e7;
  font-weight: normal;
  color: #8e0404;
}
