.right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-content: flex-start;

  h1 {
    font-weight: lighter;
    font-size: 80px;
    text-align: center;
  }

  .cardco {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: center;
    padding-left: 20px;

    .cards {
      display: flex;
      height: 200px;
      width: 250px;
      margin-bottom: 10px;
      margin-right: 140px;

      .svg {
        height: 100%;
      }

      .count {
        font-size: 100px;
        margin-left: 10px;
      }

      .count:last-child {
        margin-left: -10px;
      }

      .text {
        p {
          font-size: 25px;
        }
      }

      .svg2 {
        color: green;
      }

      .svg3 {
        color: blue;
      }

      .svg4 {
        color: orange;
      }

      .svg5 {
        color: red;
      }
    }
  }
}
