.botoning {
  display: flex;
}

.right h1,
.right h2 {
  color: #8e0404;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #8e0404;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 3px 3px 4px #7b7b7b, -3px -3px 4px #ffffff;
}

.btn-secondary {
  background-color: rgb(224, 224, 224);
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.1s ease;
}

.btn-secondary:hover {
  box-shadow: 3px 3px 4px #7b7b7b, -3px -3px 4px #ffffff;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #8e0404;
  color: white;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn {
  background-color: #28a745;
  color: white;
}

.delete-btn {
  background-color: #8e0404;
  color: white;
}

#search-bar {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right {
  display: flex;
  align-content: flex-start;
}

#user-list {
  width: 100%;
}

svg {
  margin-right: 10px;
}

.actions {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #8e0404;
  color: white;
}

.edit-btn,
.delete-btn,
.recover-btn {
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  color: white;
}

.edit-btn {
  background-color: #28a745;
}

.delete-btn {
  background-color: #8e0404;
}

.recover-btn {
  background-color: #04128e;
}

#search-bar {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-user-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 400px;
  width: 90%;
}

#add-user-form h2 {
  margin-bottom: 15px;
  color: #8e0404;
}

#add-user-form .form-group {
  margin-bottom: 15px;
}

#add-user-form label {
  display: block;
  margin-bottom: 5px;
}

#add-user-form input,
#add-user-form select {
  border: 1px solid #8e0404;
  width: calc(100% - 30px);
  padding: 10px;
  border-radius: 5px;
}

#add-user-form button {
  width: 48%;
  margin-right: 4%;
}

#add-user-form button:last-child {
  margin-right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.adda {
  background-color: #8e0404;
  border-radius: 49px;
  width: 175px;
  font-weight: lighter;
  height: 36.58px;
  display: flex;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  align-items: center;
  justify-content: center;
  color: white;
}

.adda:hover {
  box-shadow: 3px 3px 4px #7b7b7b, -3px -3px 4px #ffffff;
  color: white;
  font-weight: normal;
}

.botoning {
  display: flex;
  justify-content: space-between;
}

.sab {
  border-radius: 49px;
  width: 175px;
  margin-top: 40px;
  font-weight: lighter;
  height: 40px;
  display: flex;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  align-items: center;
  font-family: "rubik";
  justify-content: center;
  background-color: #8e0404;
  color: white;
}

.sab:hover {
  box-shadow: 3px 3px 4px #7b7b7b, -3px -3px 4px #ffffff;
  font-weight: normal;
}

.nac {
  border-radius: 49px;
  width: 175px;
  margin-top: 40px;
  font-weight: lighter;
  height: 40px;
  display: flex;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  align-items: center;
  font-family: "rubik";
  justify-content: center;
}

.suloda {
  height: 200px;
  overflow: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal .btn {
  margin-top: 10px;
}

.tree {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 400px;
  width: 90%;
  position: absolute;

  .asdasd {
    width: 200px;
  }

  .blor {
    z-index: 100;
    position: absolute;
  }
}

#edit-user-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
}

.filter-group {
  display: flex;
  width: 100%;
}

@media (max-width: 1030px) {
  .filter-group {
    display: block;
  }

  .btn-primary,
  .btn-secondary {
    margin: 0;
  }

  .filter-btn {
    margin-right: 9px;
    margin-top: 10px;
  }
}
